<h1>Editando Equipamento</h1>

<%= render "form", equipment: @equipment %>

<br>

<div>
  <%= link_to "Mostrar Equipamento", @equipment %> |
  <%= link_to "Voltar para Equipamentos", equipments_path %>
</div>
