<h1>Editar Equipamento</h1>
<%= render "form", equipment: @equipment %>
<br>
<div>
  <%= link_to "Voltar para equipamentos", equipments_path, class: 'btn btn-secondary' %> |
  <%= link_to "Exibir equipamento", @equipment, class: 'btn btn-primary' %>
</div>
