<div class="container mt-4">
  <h1>Editar Equipamento</h1>
  <%= render "form", equipment: @equipment %>
</div>
<div class="container mt-4">
  <%= link_to "Voltar para equipamentos", equipments_path, class: 'btn btn-secondary' %> |
  <%= link_to "Exibir equipamento", @equipment, class: 'btn btn-primary' %>
</div>
