<div class="row wrapper border-bottom page-heading">
  <div class="col-lg-10">
    <h2>Dashboard</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Início
      </li>
      <li class="breadcrumb-item active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
