<h1>Editando Empresa</h1>

<%= render "form", company: @company %>

<br>

<div>
  <%= link_to "Voltar para empresas", companies_path, class: 'btn btn-secondary' %> |
  <%= link_to "Exibir empresa", @company, class: 'btn btn-primary' %>
</div>
